html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.dialog-container,
.dialog-backdrop {
    align-items: center;
    display: flex;
    justify-content: center;
    position: fixed;
    height: 100%;
    left: 0;
    overflow: hidden;
    top: 0;
    width: 100%;
    z-index: 100;
}

.dialog-container {
    background-color: green;
    pointer-events: none;
}

.dialog-container.no-backdrop {
    background-color: transparent;
}

.dialog-backdrop {
    z-index: 99;
}

.dialog {
    background-color: #fff;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.4);
    padding: 3em;
    pointer-events: auto;
    position: relative;
    width: 26em;
}

.is-hidden {
    display: none !important;
}
