html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.modal-container,
.modal-background {
    display: none;
    position: fixed;
    height: 100%;
    left: 0;
    overflow: hidden;
    top: 0;
    width: 100%;
}

.modal-background {
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 100;
}

.modal-container {
    align-items: center;
    display: flex;
    justify-content: center;
    pointer-events: none;
    z-index: 101;
}

.modal {
    background-color: #fff;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.4);
    padding: 3em;
    pointer-events: auto;
    position: relative; 
    width: 26em;
}

.is-hidden {
    display: none !important;
}